// Variables for Harmonie UI

// Global text styles
$hui-font-family: Poppins;
$hui-font-color: #ffffff;
$hui-text-shaddow: 0 0 10px rgba(0, 0, 0, 0.5);

// Titles
$hui-title-size: 84px;
$hui-title-weight: 800;
$hui-subtitle-size: 48px;
$hui-subtitle-weight: 500;
